<!DOCTYPE html> 

<html>
	<head>
	</head>

	<body>
		<h2>Declaration (text size in heading 2)</h2>

		<p>The rest text is displayed in paragraph as shown in screenshot.</p>

		<p>I acknowledge the College's academic integrity policy -- and my own integrity policy -- remain in effect whether my work is done remotely or onsite. Any test or assignment is an act of trust between me and my instructor , and especially with my classmates... even when no one is watching. I declare I will not break that trust.</p> 

		<p>Name: <span style="background-color:yellow">Valy Osman</span></p>
		<p>Student Number: <span style="background-color:yellow">142480201</span></p>

		<a href="http://localhost:8080/CPA">Click to visit CPA Students</a><br><br>
		<a href="http://localhost:8080/highGPA">Click to see who has the highest GPA</a>
	</body>
</html>
